input:-moz-read-only { /* For Firefox */
  background-color: #ccc;
  border: 1px solid #a8a8a8;
  padding: 2px;
}
input:read-only { 
  background-color: #ccc;
  border: 1px solid #a8a8a8;
  padding: 2px;
}

th {
	font-size: 16px;
}

.negative_result {
	color: #e00;
}

.positive_result {
	color: #090;
}

.neutral_result {
	color: #320;
}
