.die_style {
	border: 4px outset #666;
	border-radius: 8px;
  float: left;
	font-size: 22px;
	font-weight: bold;
  height: 34px;
  margin: 8px 5px 0 5px;
  padding-top: 6px;
	text-align: center;
	width: 40px;
}
