.player_equipaments_list table {
	float: left;
	width: 220px;
}

.player_equipaments_view_all {
	float: left;
	width: 200px;
	height: 100px;
	border: 1px solid #f00;
	margin: 5px;
	padding: 2px;
	overflow-y: auto;
}