.bold {
	font-weight: bold;
}

.visualize_player_equipament {
	margin-top: 10px;
}

.visualize_player_equipament table {
	float: left;
	font-size: 20px;
}

.visualize_player_equipament_item_list {
	float: right;
	width: 36%;
	height: 100px;
	border: 1px solid #666;
	margin: 5px;
	padding: 2px;
	overflow-y: auto;
}

.visualize_player_equipament_item_list td {
	font-size: 12px;
}

.visualize_player_select_item {
	cursor: pointer;
}

.visualize_player_equiped {
	font-weight: bold;
	background-color: #ddd;
}
