.negative_result {
	color: #e00;
}

.positive_result {
	color: #090;
}

.neutral_result {
	color: #320;
}

.bold {
	font-weight: bold;
}

.visualize_player_equipament {
	margin-top: 10px;
}

.visualize_player_equipament table {
	float: left;
	font-size: 20px;
}

.visualize_player_equipament_item_list {
	float: right;
	width: 32%;
	height: 100px;
	border: 1px solid #f00;
	margin: 5px;
	padding: 2px;
	overflow-y: auto;
}